<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Bookings</title>

    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header class="navbar">
    <div class="nav-brand">
        <h1>StayEase</h1>
    </div>

    <nav>
        <a href="index.html">Hotels</a>
        <a href="bookings.html">My Bookings</a>
    </nav>
</header>

    <main>

        <section>
            <h2>Booking History</h2>

            <div id="booking-container">
                <!-- Bookings will appear here -->
            </div>

        </section>

    </main>

    <script type="module" src="../js/bookings.js"></script>

</body>
</html>